<div class="container">
  <h1 class="mt-3">Book Hold Request</h1>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Title</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      
        <% @request.each do |request| %>
          <tr>
            <td><%= Student.find(request.student_id).name %></td>
            <td><%= Book.find(request.book_id).title %></td>
          </tr>
        <% end %>
      
    </tbody>
  </table>
