<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-md-4 text-center">
      <h1>You have successfully checked out the book: <%= @book.title %>.</h1>
      <p></p>

    </div>
  </div>
</body>
</html>