<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="col-md-6">
    <h1 class="mb-3">Editing Admin</h1>

    <p><strong>Note:</strong> Editing your profile will automatically sign you out. You will have to sign back in.</p>

    <%= render 'form', admin: @admin %>

  </div>
</div>