
<%= render 'layouts/shared/listcheckedoutBooks' %>

    <div>
        <%= link_to admins_path, text: "Back", class: "btn btn-warning" do %>
            <i class="fas fa-arrow-left" ></i> 
            <span>Back Panel</span>
        <% end %>
    </div>
</div>