
  <%= render 'layouts/shared/viewBookHistory'%>

  <div>
    <%= link_to show_books_admins_path, text: "Back", class: "btn btn-warning" do %>
        <i class="fas fa-arrow-left" ></i> 
        <span>Back </span>
    <% end %>
  </div>
</div>