<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="col-md-4">
    <h1 class="mb-4">New Student</h1>

    <%= render 'form', student: @student %>

    
  </div>
</div>