<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="col-md-6 text-center">
    <p>Hello <%= @resource.email %>!</p>

    <p>We're contacting you to notify you that your password has been changed.</p>

    <div class="mt-3">
      <%= link_to 'Back to Homepage', root_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>