

<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <p>
            <strong>Name:</strong>
            <%= author.name %>
          </p>

          <p>
            <strong>Website:</strong>
            <%= author.website %>
          </p>

          <p>
            <strong>Email:</strong>
            <%= author.email %>
          </p>

          <p>
            <strong>Nationality:</strong>
            <%= author.nationality.name %>
          </p>
          
        </div>
      </div>
    </div>
  </div>
</div>