

<div class="container text-center">
  <p style="color: green"><%= notice %></p>

  <%= render @publisher %>

  <div>
    <%= link_to "Edit this publisher", edit_publisher_path(@publisher), class: "btn btn-primary" %> |
    <%= link_to "Back to publishers", publishers_path, class: "btn btn-secondary" %>

  </div>
</div>
