<div class="container text-center">  
  <p style="color: green"><%= notice %></p>

  <%= render @address %>

  <div>
    <%= link_to "Back to University", universities_path, class: "btn btn-secondary" %> 
    
  </div>
</div>
