
  
  <%= render 'layouts/shared/getOverdueBooks' %>
  
  <div class="">
    <%= link_to librarians_path, text: "Back", class: "btn btn-warning" do %>
      <i class="fas fa-arrow-left"></i>
      <span>Back Panel</span>
    <% end %>

  </div>
</div>