
  <%= render 'layouts/shared/viewHoldRequest' %>

  <div>
      <%= link_to librarians_path, class: "btn btn-warning" do %>
        <i class="fas fa-arrow-left" ></i> 
        <span>Back Panel</span>
      <% end %>
  </div>
</div>